.attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
html{
    font-size: 62.5%;
    font-family: [Montserrat];
     font-weight: 500;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 3px;
}
    body{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: auto;
        font-size: 2.1rem;
        background-color: rgb(250, 245, 232);
    }
    .container{
     display: flex;
     width: 375px;
     height: 275px;
     background-color: rgb(252, 249, 249);
     font-family: [Montserrat];
     font-weight: 500;
     border-radius: 10px;
     
    }
    img{
        width: 50%;
    object-fit:fill;
    }
    section{
    box-sizing: border-box;
    border-radius: 10px;
    

    }
    h1{
        font-size: x-small;
        color: cadetblue;
    }
    h2{
     font-size: x-large;
     color: black;
    }
   p{
    font-size: smaller;
    color: rgb(158, 157, 157);
   }
    h3{
    color:rgb(65, 117, 91);
    font-size: large;
    }
    h4{
        color:rgb(46, 73, 60) ;
        font-size: small;
        text-decoration: line-through;
        float: right;
    }
    button{
        background-color:rgb(84, 139, 112) ;
        display: inline-block;
        font-size: 1.75rem;
        border-radius: 0.5rem;
        width: 70%;
        color: white;
    }